/*código css para criação do mapa do Brasil de forma manipulada, retirado do link:https://github.com/felipeduardo/mapa-brasil-svg/blob/master/index.html*/
    #svg-map path { fill:#985e6d }
    #svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
    #svg-map a{ text-decoration:none }
    #svg-map a:hover { cursor:pointer; text-decoration:none }
    #svg-map a:hover path{ fill:#98878f !important }
    #svg-map .circle { fill:#192231 }
    #svg-map a:hover .circle { fill:#494e6b !important; cursor:pointer }
    #svg-map{
    	width: 70%;
    	height: auto;
    	max-width: 900px;
    	max-height: 700px;
    	margin: 5px 0px;
    }


    *{
        color: #000;
    }

    /*paleta de cores*/
    .primaria{
        background-color: #ccc0c5;
    }

    .secundaria{
        background-color:#192231;
    }

    .terciaria{
        background-color: #98878f;
    }
    .quaternaria{
        background-color: #985e6d;
    }